@media only screen and (max-width: 2280px){
    body{
        height: auto;
        width: auto;
        margin: 0;
        padding: 0;
        background-image: url("/photo/default-background.png");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }
    .marq{
        height: 100%;
        width: 100%;
        margin-top: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .marquee{
        font-size: 600px;
        color: aliceblue;
    }
}
@media only screen and (max-width: 991px) {
    body{
        height: auto;
        width: auto;
        margin: 0;
        padding: 0;
        background-image: url("/photo/default-background.png");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        
    }
    .marq{
        height: 100%;
        width: 100%;
        margin-top: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .marquee{
        font-size: 75px;
    }
}